/* Menu Section */
.menu-card {
    grid-column: auto;
    grid-row: auto;
    min-height: 31.25rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #EDEFEE;
  }
  
  .menu-card:hover .menu-card-image img {
    transform: scale(1.1);
  }
  
  .menu-card-image img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    margin-bottom: 0.9375rem;
    transition: all ease-in-out 0.3s;
  }
  
  .menu-card-header,
  .menu-card-body-footer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .menu-card-header {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }
  
  .menu-card-header h3 {
    font-size: 1.15rem;
  }
  
  .menu-card-header span {
    font-weight: bold;
    color: #EE9972;
  }
  
  .menu-card-body-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .menu-card-body-footer a {
    font-weight: bold;
  }
  
  .menu-card-body-footer svg {
    margin-left: 0.5rem;
  }
  
  /*-- Media queries ------------------------------------------------------*/
  
  @media (max-width: 960px) {
    .menu-card {
      grid-row: auto;
    }
  }

/* MENU STYLE*/
.menus {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1.25rem;
  }
  
  .menus-header {
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1.875rem;
  }
  
  .menus-header h2 {
    line-height: 1;
    font-family: "Markazi Text";
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
  }
  
  /*-- Media queries ------------------------------------------------------*/
  
  @media (max-width: 960px) {
    .menus {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
    }
  
    .menus-header {
      grid-column: 1 / 3;
    }
  }
  
  @media (max-width: 692px) {
    .menus {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
    }
  
    .menus-header {
      grid-column: 1 / 2;
    }
  }
  
  /* End of Menu Section */

  /* ORDER SECTION */
  .order{
    padding-top: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  h2{
    padding-bottom: 2rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    height: 200px;
  }
  
  th, td {

    padding: 8px;
    text-align: left;
    width: 30%;
  }
  
  th {
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-family: karla;
    font-weight: bold;
    letter-spacing: 0.1875rem;
  }

  /* Style for the "-" button */
.button-minus {
  background-color: #495E57;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  font-weight: bold;
}

/* Style for the "+" button */
.button-plus {
  background-color: #495E57;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  font-weight: bold;  
}
 

.button-plus:hover, 
.button-minus:hover{
  background-color: #F4CE14;
}

/* Style for the quantity */
.quantity {
  margin: 0 20px; /* Adjust the margin value for spacing */
}

/* Style for the total */
.total {
  background-color: #495E57;
  height: 3rem;
  color: #F4CE14;
  font-size: 16px;
  text-transform: uppercase;
  font-family: karla;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1875rem;
  margin: 0 auto; /* Add margin for spacing */
  line-height: 3rem;
}

/* CSS to style the ConfirmationModal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other content */
}

.confirmation-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirmation-modal p {
  margin-bottom: 20px;
}

.confirmation-modal button {
  margin: 0 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.confirmation-modal button:first-child {
  background-color:#495E57; /* Green for Confirm */
  color: #fff;
  border: none;
}

.confirmation-modal button:last-child {
  background-color: #495E57;
  color: #fff;
  border: none;
}

.confirmation-modal button:last-child:hover{
  background-color: #F4CE14;
  color: black;
  border: none;
}

/* Styles for small screens (e.g., smartphones) */
@media (max-width: 767px) {
  .container .confirmation-modal {
    width: 50%; /* Adjust the width as needed for small screens */
  }
}

/* Styles for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .confirmation-modal {
    width: 70%; /* Adjust the width as needed for medium screens */
  }
}

/* Styles for large screens (e.g., desktops) */
@media (min-width: 1024px) {
  .confirmation-modal {
    width: 50%; /* Adjust the width as needed for large screens */
  }
}