/* Hero Section */
.hero {
    padding-top: 1.875rem;
    background-color: #495E57;
}

.hero .container {
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    margin-bottom: 9.375rem;
}

.hero-info{
    grid-column: 1;
}

.hero-info h1 {
    color: #F4CE14;
    font-size: 3rem;
    font-family: 'Markazi Text', serif;
}

.hero-info h3 {
    color: #EDEFEE;
    font-weight: lighter;
    font-size: 2rem;
    font-family: 'Markazi Text', serif;
}

.hero-info p {
    margin-top: 1rem;
    color: #FFFFFF;
    text-align: justify;
    padding-right: 1.25rem;
}

.hero-info .button-primary {
    display: inline-block;
    margin-top: 2rem;
}

.button-primary {
    background-color: #f4ce14;
    border: 0.1875rem solid #f4ce14;
    border-radius: 2rem;
    text-decoration: none;
    color: #495e57;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: background, border, color .5s;
    cursor: pointer;
    margin-bottom: 2rem;
}

.button-primary:hover,
.button-primary:focus {
    border-color: #F4CE14;
    background-color: #495E57;
    color: #f4ce14;
}

.hero-image {
    grid-column: 2;
    width: 100%;
    height: 24rem;
    margin-bottom: -4.375rem;
    justify-self: end;
    border-radius: 1rem;
    object-fit: cover;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 792px) {
    .hero .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .hero-info {
        grid-row: 1;
    }

    .hero-image {
        grid-column: 1;
        grid-row: 2;
    }
}

/* End of Hero Section */

/* Weekly Special Section */
.meal-card {
    grid-column: auto;
    grid-row: 2;
    min-height: 31.25rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #EDEFEE;
  }
  
  .meal-card:hover .meal-card-image img {
    transform: scale(1.1);
  }
  
  .meal-card-image img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    margin-bottom: 0.9375rem;
    transition: all ease-in-out 0.3s;
  }
  
  .meal-card-header, 
  .meal-card-body-footer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .meal-card-header {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }
  
  .meal-card-header h3 {
    font-size: 1.15rem;
  }
  
  .meal-card-header span {
    font-weight: bold;
    color: #EE9972;
  }
  
  .meal-card-body-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .meal-card-body-footer a {
    font-weight: bold;
  }
  
  .meal-card-body-footer svg {
    margin-left: 0.5rem;
  }
  
  /*-- Media queries ------------------------------------------------------*/
  
  @media (max-width: 960px) {
  .meal-card {
    grid-row: auto;
  }
  }

  /* WEEKLY SPECIALS STYLE*/
  .weekly-specials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1.25rem;
  }
  
  .week-specials-header {
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1.875rem;
  }
  
  .week-specials-header h2 {
    line-height: 1;
    font-family: "Markazi Text";
    font-weight: normal;
    font-size: 2.5rem;
  }
  
  /*-- Media queries ------------------------------------------------------*/
  
  @media (max-width: 960px) {
  .week-specials {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  
  .week-specials-header {
    grid-column: 1 / 3;
  }
  }
  
  @media (max-width: 692px) {
  .weekly-specials {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  
  .week-specials-header {
    grid-column: 1 / 2;
  }
  }
/* End of Weekly Special Section */